{% extends 'admin/base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}

    <div class="min-h-screen bg-gradient-to-br from-blue-100 via-green-100 to-white py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-6xl mx-auto bg-white shadow-xl rounded-3xl p-8 sm:p-10 border border-blue-100">
            <div class="flex items-center justify-between mb-6">
                <h1 class="">
                    <span>Product List</span>
                </h1>
                <a href="">
                    Add New Product
                </a>
            </div>
        </div>
    </div>

{% endblock %}
